<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Add a Recommendation</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Add a recommendation</h1>
		<form th:object="${recommendation}" th:action="@{add}" action="#"
			method="post">
			<div class="mb-3">
				<label for="title" class="form-label">Title</label> <input
					type="text" class="form-control" id="title" th:field="*{title}"
					required /> <small class="text-danger"
					th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></small>

				<label for="link" class="form-label">Link</label> <input type="text"
					class="form-control" id="link" th:field="*{link}" required
					pattern="^(https?://).*$" /> <small class="text-danger"
					th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></small> <label
					for="description" class="form-label">Description</label>

				<textarea class="form-control" id="description" rows="3"
					th:field="*{description}" required></textarea>
				<small class="text-danger"
					th:if="${#fields.hasErrors('description')}"
					th:errors="*{description}"></small>
			</div>
			<input type="submit" class="btn btn-primary" value="Add" /> <a
				href="/" class="btn btn-secondary">Cancel</a>
		</form>
	</div>
</body>
</html>