<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Edit a Recommendation</title>
</head>
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-5 bold-text">
			<form th:action="@{/saveEditedReadingRecommendation}"
				th:object="${recommendation}" method="post" class="form-group">
				<!-- Id Field -->
				<!-- Hidden Id Field -->
				<div class="mb-3">
					<input type="hidden" class="form-control"
						th:value="${recommendation.id}" th:field="*{id}" required />
				</div>

				<!-- Title Field -->
				<div class="mb-3">
					<label for="title" class="form-label">Title</label> <input
						type="text" id="title" class="form-control" th:field="*{title}"
						required />
				</div>

				<!-- Link Field -->
				<div class="mb-3">
					<label for="link" class="form-label">Link</label> <input type="url"
						id="link" class="form-control" th:field="*{link}" required
						pattern="https?://.*" />
				</div>

				<!-- Description Field -->
				<div class="mb-3">
					<label for="description" class="form-label">Description</label>
					<textarea id="description" class="form-control"
						th:field="*{description}" required></textarea>
				</div>
				
				<!--  Category Field -->
				<div class="mb-3">
					<label for="category" class="form-label">Category</label>
					<select id="category" th:field="*{category}" class="form-control">
						<option th:each="category: ${categories}" 
								th:value="${category.id}"
								th:text="${category.name}"></option>
					</select>
				</div>

				<!-- Submit Button -->
				<div class="mb-3">
					<input type="submit" value="Save Changes"
						class="btn btn-primary rounded-pill" />
				</div>

			</form>
		</div>
	</div>

	<script src="/js/bootstrap.bundle.min.js"
		th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>