<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<body>
	<div layout:fragment="content">
		<h1>Reading recommendations</h1>

		<table>
			<tr>
				<th>Title</th>
				<th>Link</th>
				<th>Description</th>
				<th>Actions</th>
			</tr>
			<tr th:each="recommendation : ${recommendations}">
				<td th:text="${recommendation.title}"></td>
				<td th:text="${recommendation.link}"></td>
				<td th:text="${recommendation.description}"></td>
				<td>
                	<a th:href="@{/editReadingRecommendations/{id}(id=${recommendation.id})}" class="btn btn-primary btn-xs">Edit</a>
            </td>
			</tr>
		</table>

		<a class="btn btn-primary" href="/messages/add">Add a message </a>
	</div>
</body>
</html>