<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container mt-5 bold-text">
			<h1>Login</h1>
			<div class="col-md-4">
				<form th:action="@{/login}" method="post">
					<div class="mb-3">
						<label> User Name: <input type="text" name="username"
							class="form-control" />
						</label>
						<p th:if="${param.error}" class="text-danger">Invalid username
							and password.</p>
					</div>
					<div class="mb-3">
						<label> Password: <input type="password" name="password"
							class="form-control" />
						</label>
					</div>
					<div class="mb-3">
						<input type="submit" class="btn btn-primary rounded-pill"
							value="Sign In" />
					</div>
				</form>
				<div class="alert alert-warning" th:if="${param.logout}">You
					have been logged out.</div>
				<!-- Signup Link -->
				<div class="registration">
					<p>
						Not registered? <a th:href="@{/signup}">Sign Up</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
	<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>